.topRadio{ 
 text-align: center; 
 margin: 0 auto;
}
.divider{
    padding-top: 10px;
    margin-bottom: 5px;
    border-bottom: rgb(186, 210, 211) 1px solid;
    box-shadow: 1px 2px 2px 2px rgba(191, 214, 223, 0.4);
}
/*Search input field design customize here */

.searchInput {
  margin-right:10px;
  outline: none !important;
  border: 1px gray solid !important;
  box-shadow: none !important;
  background-color: transparent !important;
  padding: 5px !important;
  max-width: fit-content;
}

.searchInput .ant-input {
  padding-left: 50px !important;
}

.searchInput .ant-input-prefix {
  position: absolute;
  z-index: 100;
  margin-top: 7px;
  margin-left: 9px;
}

.searchInput:focus {
  box-shadow: none !important;
}

/*Search plus Css */

.filterArea h2{
    cursor: pointer!important;
}

/*Search searchAreaBottom Css start*/
.searchAreaBottom{
  font-weight: 600;
    padding: 10px 0 10px 1px;
}
 


  